/******************************************
GENERAL
*******************************************/

.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

/*******************************************
NAV
********************************************/


/*******************************************
HERO
********************************************/

.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 400px;
}
.button.success {
    background-color: orange;
}

/*******************************************
MAIN CONTENT
********************************************/

.main {
    padding: 80px 0px;
}

/*******************************************
FOTTER
********************************************/

footer {
    height: 20px;
    background-color: #222;
    padding: 56px 0px;
    color: #FFF;
    font-size: 1.2em;
}
footer a {
    display: block;
}
.vertical li a {
    font-size: 1.5em;
}
.vertical a:hover {
    color: #FFF;
    background-color: #F07746;
}
.vertical {
    list-style: none;
}
