<!DOC TYPE html>
<html lang="en">

<head>
    <title>About African Stories's Author</title>
</head>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<body>
    <div class="column small-6">
        <header>
            <h2>African stories<h2/>
        <h3 align="center"><br/>About me</h3>
    </header>
     <article class="sameNight">
         <section>
         <p>Hello Dear readers, i would like to think you for taking the time and passing by my Web sit.<p/>
             <p> i am a coding student who's working hard to develop his coding skills.<p/>
             <p>This Website is all about Poetry  short stories and couple of Poems<p/> 
             <p style="font-size:13px;">Qusai Alfaki</p>
             </section>

     </article>
        </div>
</body>
<footer id="hawa">
<small>&copy; African stories</small>
</footer>
</html>
