<!DOC TYPE html>
<html lang="en">
<head>
<title>About African Stories's Author</title>
</head>
<body>
    <header>
        <h3>About me</h3>
    </header>
     <article>
         <section>
         <p>Hello Dear readers, i would like to think you for taking the time and passing by my Web sit.<p/>
             <p> i am a coding student who's working hard to develop his coding skills.<p/><p>This Website is all about Poetry  short stories and couple of Poems<p/> 
             </section>

     </article>
</body>
<footer>
<small>&copy; African stories</small>
</footer>
</html>


