<!DOC TYPE html>
<html lang="en">
<head>
<title>About African Stories's Author</title>
</head>
    <style>
    #sameNight p{
         font-style:italic;
        
        }
        .sameNight  {
    position: absolute;
    right: 25%;
    top: 30%;
    width: 50%;
    text-align: center;
    font-size: 18px;
           }
            #hawa {
   position:absolute;
   bottom:0;
   width:100%;
   height:15px;   
   background:#6cf;
}
             </style>
<body>
    <header>
        <h3 align="center"><br/>About me</h3>
    </header>
     <article class="sameNight">
         <section>
         <p>Hello Dear readers, i would like to think you for taking the time and passing by my Web sit.<p/>
             <p> i am a coding student who's working hard to develop his coding skills.<p/>
             <p>This Website is all about Poetry  short stories and couple of Poems<p/> 
             <p align="left 20%"style="font-size:13px;">Qusai Alfaki</p>
             </section>

     </article>
</body>
<footer id="hawa">
<small>&copy; African stories</small>
</footer>
</html>


