<!DOCO TYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>African Stories</title>
    <link rel="stylesheet" href="assets/styleSheet/main.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/foundation.css">

</head>

<body>
    <div id="header">
        <h1 align="center" style="font-size:30px"><br/>African Stories</h1>
    </div>
    <br/>
    <br/>
    <hr/>
    <hr/>

    <div id="nav">
        <nav class="menu-centered">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li>
            </ul>
        </nav>

    </div>
    <br/>



    <article class="container">
        <section>
            <div class="column small-12 small-centered">
                <p id="centered">
                    <br/>
                    <br/> Poetry is what in a poem makes you laugh,
                    <br/> cry, prickle, be silent,
                    <br/> makes your toe nails twinkle,
                    <br/> makes you want to do this or that or nothing,
                    <br/> makes you know that you are
                    <br/> alone in the unknown world,
                    <br/>that your bliss and suffering is forever
                    <br/>shared and forever all your own.
                    <br/>
                    <br/>
                    <p style="font-size:13px">Dylan Thomas</p>
            </div>
        </section>
    </article>
    <div id="storyls">
        <ul class="menu vertical">
            <li><a href="story1.html">The same Night</a></li>
            <li><a href="story2.html">Hash Tag</a> </li>
            <li><a href="story3.html">Pre-Naivasha Days</a></li>
            <li><a href="story4.html">Dilemma</a></li>
            <li><a href="story5.html">At 84</a></li>
            <li><a href="story6.html">I Died Alive</a></li>
            <li><a href="story7.html">The Eye of Poetry</a></li>
            <li><a href="story8.html">It's a Night Jobe</a></li>
            <li><a href="story9.html">The sign</a></li>
            <li><a href="story10.html">Distingushed Umbrella</a>

        </ul>
    </div>



</body>

</html>
<footer id="sameNight">
    <small>&copy; African stories</small>
    </footer
