<!DOCTYPE HTML>
<html lang=en>
    <head>
    <title>The Eye of Poetry</title>
     <style>
       #sameNight
       {
         font-size: 15px;
         margin: auto;
         width: 60%;
         border: 2px solid #73AD21;
         padding: 17px;
         font-style: italic;
       }
       #sameNight p{
         font-style: normal;
       }
       </style>
    </head>
    <body>
        <article id="sameNight">
            <header>
            <h1 align="center">The Eye of Poetry</h1>
            <h5 align="center">Lilian A.Aujo</h5>
            </header>
             <section><br/><br/>
<p>Poetry is the school I will never graduate from<br/>
because no matter how hard –I try<br/>
I will never tell it all –the secret way of its patterns<br/>
And how the same letters form different syllables to form different words,<br/>
And how they fall –in front or behind one another, and if re-arranged would create a whole<br/>
different story...<br/>
It is how emotions run<br/>
High –Low –Calm –Serene<br/>
Vivacious, like the sun at noon, surreal like the fantasy it promises<br/>
You never know when poetry goes subtleor quiet. How even when there,<br/>
It grows deep like a river that bleeds <br/>
when the dry earth has sucked out her waters...poetry...</p><br/>
<p>It is the bird song I cannot articulate<br/>
The trickle of the tap in a porcelain sink<br/>
The whoosh of the wind that makes my skin stand on end<br/>
That thing that knocks the breath out of my lungs<br/>
The music in you, unsung, yet so fervent you tingle within<br/>
The notes in the air unwritten on sheets. Tangible, intangible, whatever you please</p><br/>
<p>It is useless to try to fathom how,<br/>
Without seeming to say much, it says so much,<br/>
How it clings to you like the little hand of a small child begging you to stay<br/>
Or, like the sticky filmy strands of the spider whose web you never see –but,<br/>
You walk right into anyway...</p><br/>
<p>It is the sweet tangle between fantasy and realism<br/>
And metaphysics and apathy and breath and death<br/>
But do not worry if the opposites don’t quite match or get criss-crossed right:<br/>
The rhythms do not always match...<br/>
see,there indisorder exists the same beauty eminent in order,<br/>
I have cometo learn,<br/>
That free verse, sonnet, haiku, list, and lyrical when tweaked just right<br/>
Are like a violin in the hands of a skilled violinist: so many songs from the tip of one bow</p><br/>
<p>I live, breathe, dream poetry, in syllables so sweet they tantalise my mind<br/>
Tie and untie my tongue so I have no choice but try to tell of its complexity,<br/>
Of all the stories that are spun like the silky strands of <i>Ananse’s</i> tales<br/>
And the flighty cunning of a hare’s escapades...<br/>
I laugh so hard tears kiss the corners of my eyes,<br/>
I learn lessons that might have remained unlearnt had they been in plain black or white<br/>
See, the twists are new with every turn<br/>
Like a child’s wheel let loose and thrashing through bushes<br/>
Like heavy rain drops never knowing their mark–
Like the water ina lake that flows in itself and never knows where it ends andor where it begins...<br/>
yes it is that meld...</p><br/>
<p>...the sublime, the divine...that you never touch<br/>
Yet you know how it feels...<br/>
It is the beauty you want to explain but words are always inept to describe<br/>
It is poetry...existent in as many exquisite and intrinsic patterns<br/>
As there are on a peacock’s tail:</p><br/>
<p><i>While she sits, her iridescent plumage dazzles us,<br/>
And when she fans her tail, we see her eye...<br/>
Hypnotically beautiful...<br/>
spiralling into the magical chasm of poetry...<br/>
Do you see the eye of poetry?</i></p>
</section>
        </article>
    </body>
    <footer><small>&copy; African stories</small>
    </footer>
</html>
