<!DOCTYPE HTML>
<html lang=en>
    <head>
        <title>short story 6</title> <style>
       #sameNight
       {
         font-size: 15px;
         margin: auto;
         width: 60%;
         border: 2px solid #73AD21;
         padding: 17px;
         font-style: italic;
       }
       #sameNight p{
         font-style: normal;
       }
       </style></head>
    <body>
        <article id="sameNight">
            <header>
                <hi align="center">I Died Alive</hi>
            <h5 align="center">Harriet Anena</h5>
            </header>
             <section><br/><br/>
<p align="center">I died<br/><br/>
But my heart still breathed <br/><br/>
I was speechless<br/><br/>
But a voice resounded within<br/><br/>
I was sightless <br/><br/>
But my inner eye watched the outside<br/><br/>
I was immobile <br/><br/>
But agile dreams took me miles away<br/><br/>
I died <br/><br/>
But I died aliv</p>
</section>
        </article>
    </body>
    <footer><small>&copy; African stories</small>
    </footer>
</html>
