<!DOCTYPE HTML>
<HTML lang=en>
<head>
     <title>short story 2</title>
     <style>
       #sameNight
       {
         font-size: 15px;
         margin: auto;
         width: 60%;
         border: 2px solid #73AD21;
         padding: 17px;
         font-style: italic;
       }
       #sameNight p{
         font-style: normal;
       }
       </style>
</head>
     <body>
          <article id="sameNight">
               <section>
                   <header>
                       <h1 align="center">Hash Tag</h1>
                       <h5 align="center">Davina Kawuma</h5>
                   </header>
                   
<p>Headphones edged with brio,<br/>
bulging over skirted sofas.<br/>
Sport is the new sex.<br/>
Dogs versus coyotes on the tight<br/>
end of the stereo.<br/>
Hazard lights stitch footsubishis and TV<br/>
chicken into seams of Nokia eleven hundred housing.<br/>
In loose sprays, cracked for patches<br/>
of grey I save English names one cocktail<br/>
at a time. Tusky Big Brother Africa house<br/>
mates sniff my lemon bracts. I'm middle<br/>
middlev-class with a chance of un|dress<br/>
codes. Raglan sleeves, push-up bras, harem<br/>
culottes,wine-glass heels and a backpack full<br/>
of silence. I will never wear myself out<br/>
trying to get rich.<br/><br/>
Hash Tag, YouCantThreatenThePoor<br/><br/>
How about it, then?<br/>
Shall I serve a late helping of morning;<br/>
slop poached pinks and yolky yellows<br/>
onto thick slices of doughy landscape?<br/>
Shall I take the day off and a bus buried<br/>
by a loud pedal to a faded scrawl?<br/>
Invite your size-six Adam's apple to my capacity<br/>
building workshop?<br/>
Shall I slaughter a mannequin?<br/>
Upload the video on YouTube? - YouGroup? - YouThink?<br/>
YouCome? - YouGrab? - YouCantOrderFrenchFriesWithThat?<br/>
Shall I read you some bumper sticker advice,<br/>
im|press you with my flaky fonts and American't accent?<br/>
Save you fifty on a bootlegged DVD?<br/><br/>
Hash Tag, TheSystemIsStupid</p>
</section>
          </article>
<fotter>
<small>&copy; African stories</small>
     </fotter>
    </body>
</HTML>