<!DOCTYPE HTML>
<html lang=en>

<head>
    <title>Pre-Naivasha Days</title>
    <style>
        #sameNight {
            font-size: 15px;
            margin: auto;
            width: 60%;
            border: 2px solid #73AD21;
            padding: 17px;
            font-style: italic;
        }

        .sameNight p {
            font-style: normal;
        }

    </style>
</head>

<body>
    <header>
        <h3>African Stories</h3></header>
    <div id="nav">
        <nav class="menu-centered">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>

            </ul>
        </nav>

    </div>
    <article id="sameNight">
        <section>
            <br/>
            <br/>
            <header>
                <h1 align="center">Pre-Naivasha Days</h1>
                <h5 align="center">Emmanuel Monychol</h5>
            </header>


            <p>We used to fight flies and heat
                <br/> In the bullet ridden grass thatched huts,
                <br/> We lived in the hope of milk and honey.
                <br/> We tried to share the little we got
                <br/> with guerrilla forces
                <br/> Who lived in hope too and tried
                <br/> To survive with little or no food and water
                <br/> Tyre sandals for shoesand oldclothes looted or donated.
                <br/>
                <br/>
                <br/> The signing of the Comprehensive Peace Agreement united us.
                <br/> Yes! We were united: together, Army and ordinary Citizens.
                <br/> We decorated our bodies with ostrich feathers;
                <br/> We danced and smiled, we laughed and celebrated
                <br/> Together, we ate,together we drank,
                <br/> Together we poured libations to bless the spirits
                <br/> Of the fallen heroes buried or abandoned.
                <br/>
                <br/>
                <br/> The Guerrilla Generals-turned-Politicians
                <br/> Cruised the V-8 vehicles in our new dustbowl
                <br/> They swim amidst ill-hooked wealth,
                <br/> Cool Juba heat with the air conditioners
                <br/> Chilling out of the newly furnished
                <br/> Bungalows and palaces.
                <br/>
                <br/>
                <br/> We fight flies and fan off the airless heat in congested
                <br/> Tin roofed shelters without ceiling boards
                <br/> And ventilated window-after Naivasha Days.</p>
        </section>

    </article>
</body>
<footer>
    <small>&copy; African stories</small>
</footer>

</html>
