<!DOCTYPE HTML>
<html lang=en>

<head>
    <title>At 84</title>
    <style>
        #sameNight {
            font-size: 15px;
            margin: auto;
            width: 60%;
            border: 2px solid #73AD21;
            padding: 17px;
            font-style: italic;
            margin-bottom: .2em;
        }

        #sameNight p {
            font-style: normal;
        }

    </style>
</head>

<body>
    <header>
        <h3>African Stories</h3></header>
    <div id="nav">
        <nav class="menu-centered">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>

            </ul>
        </nav>

    </div>
    <article id="sameNight">
        <header>
            <h1 align="center">At 84</h1>
            <h4 align="center">Sophie N.Namwoyeraki</h4>
        </header>
        <section>
            <br/>
            <br/>
            <p>Your teeth have fled their nest.
                <br/>
                <br/> Dust rules over the Holy Book.
                <br/>
                <br/> Untouched buttons of your radio look on.
                <br/>
                <br/> Curtain folds are like a nurse's starched uniform.
                <br/>
                <br/> Your soup bowl has become a roach's pool.
                <br/>
                <br/> Your appetite is painted in dull colours.
                <br/>
                <br/> Your walking stick is the centre in the spider's handcraft.
                <br/>
                <br/> Vivacity basks in a second childhood.
                <br/>
                <br/> The sturdy voice that bounced on walls is now drained.
                <br/>
                <br/> The kite-sharp eyesight simmers on dying fire.
                <br/>
                <br/> Your countenance is the light of a fast sinking sun.
                <br/>
                <br/> Muscles of steel now soft like newly ground corn.
                <br/>
                <br/> Humour has abandoned your garden.
                <br/>
                <br/> Where are the mighty hands that lifted me when I fell?
                <br/>
                <br/> Silent weeds strangle years.
                <br/>
                <br/> Tendrils of life are tangled up and bewildered
                <br/>
                <br/> Your worm-eaten garb sways in the wind.
                <br/>
                <br/> My eyes well up and rage weighs my throat down.
                <br/>
                <br/> You are the mahogany never meant to shed his leaves</p>
        </section>
    </article>
</body>
<footer><small>&copy; African stories </small></footer>

</html>
