<!DOCTYPE HTML>
<html lang=en>

<head>
    <title>It's a Night Jobe</title>
    <style>
        #sameNight {
            font-size: 15px;
            margin: auto;
            width: 60%;
            border: 2px solid #73AD21;
            padding: 17px;
            font-style: italic;
        }

        #sameNight p {
            font-style: normal;
        }

    </style>
</head>

<body>
    <header>
        <h3>African Stories</h3></header>
    <div id="nav">
        <nav class="menu-centered">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>

            </ul>
        </nav>

    </div>
    <article id="sameNight">
        <header>
            <h1 align="center">It's a Night Jobe</h1>
            <h5 align="center">Joabita Male</h5></header>
        <section>
            <br/>
            <br/>
            <p>You have to understand, I did not to choose this life-it chose me.My childhood had somehow
                <br/> prepared me for this job –if you can call it a job that is. My mother had the same job and her
                <br/> mother as well. I guess I couldn’t escape it.
                <br/> It’s a cold evening, and it's around 7 pm. I’m sure it will not rain today. The rain cuts business down
                <br/> almost to zero. You see, the street side is not a place to be during a downpour. The sky is a
                <br/> dark blue with a few stars spread out, that’s how I know it will not rain. I’ve been told stars are a
                <br/> sure sign that the skies will hold back.
                <br/>
                <i>Thank God!</i>
                <br/> I’m wearing the white dress, the stretchy one that shows the curve of my hips clearly. White is a
                <br/> good colour when you’re trying to be noticed among several other girls, especially when your
                <br/> complexion is as dark as mine.My make-up has been applied.My mum taught me how to wear
                <br/> make-up. Maroon lipstick (red was for the light skinned ones) and a bit of eye shadow. I’m wearing
                <br/> six inch heels, not so much for fashion but more to be noticed easier. At 5’ 1”, I am one of the
                <br/> shorter girls here. I’m not wearing any underwear; I have learnt that sometimes the only way to get
                <br/> customers is to give a preview of what’s to come.
                <br/> I’m standing on Burton Street, the small stretch before the roundabout to Yusuf Lule road. Most
                <br/> of the girls are already there.This street has no lights at all. I like that about it,any sign of lights
                <br/> means we have a potential client. The buildings on this street are homes that were turned into
                <br/> offices. They have domineeringgates with large signposts at the entrance. There isn’t a sound from
                <br/> them at this time.
                <br/> Lights.I quickly bend over, enough to give the driver a glimpse of what he will be getting if they
                <br/> choose me. I manage to bend yet still twist my body so they can see a bit of my face. I’m smiling.
                <br/> I’m good at that now. It comes with practice; I don’t have to be happy to smile. I can conjure up a
                <br/> smile at your slightest bidding...it’s one of the requirements ofthe job.
                <br/> A whitecorona slows down next to me, I can tell by the car that this clientmight not pay as
                <br/> handsomely as I would like, but I learnt a long time ago not to pass up any offers, you might go
                <br/> hungry if you do.
                <br/> A dark face is staring at me all I see are wide eyes and sparkling teeth.
                <br/> “Get in,” he shouts with impatience. He has to drive off before anyone sees him. I jump in, still
                <br/> smiling, I’m not sure where we are going, but I have to be clear on my prices.
                <br/> “Long or short?” I ask loudly, with my eyebrows raised, it’s something I always do.
                <br/> “Long, how much?” he shouts out.
                <br/>
                <i>This might be a difficult one</i>,I think to myself.“Fifty thousand,”I say.
                <br/> “Okay,” he blurts out as we drive off to what I assume is Ntinda. Getting home won’t be too
                <br/> expensive, I stay in Naalya and that’s pretty close to where we’re going. We pull up at Max’s
                <br/> motel. Everyone that stays in Ntinda uses this spot. We come out of the car and he rushes out.I
                <br/> follow after him like an unwanted puppy. They always act this way at first, like they’re doing you a
                <br/> favour.
                <br/> I hate this part!We get to the room and he wastes no time taking off his clothes. He lays there on the double bed
                <br/> covered with a thick brown blanket. Everything about this motel is dull.Ugly brown curtains to
                <br/> match the blankets, cream walls and basic furniture, everything looks as if they were dragged
                <br/> out of the nearby primary school.
                <br/>
                <br/> Everything about this motel is dull apart from the people. The different clients that is.They range
                <br/> from the boda-boda rider who decides to pleasure himself with the day’s earnings to the city tycoon
                <br/> who tries to remain inconspicuouson his visits. I look down at him and he is well built,much better than most of my usual clients. He looks at me
                <br/> waiting. I hate this part too. The beginning. I pull up my dress. Even though he’s paying for ‘long’ I
                <br/> am determined to give him ‘short’. I’m not in the mood to do too much today. I’ll please him
                <br/> enough to the point where he can’t tell the difference. We are at it now; this is the part that I don’t
                <br/> hate so much, the satisfaction I give them. All of them. We rock away as the motel bed creaks.
                <br/> I can partly hear the beds in the neighbouring rooms making the same sound; it’s like a song matching
                <br/> rhythms, matching beats. His face is twisted almost as if he is in pain. I know that means I am doing
                <br/> a good job.
                <br/> He’s a first timer. I’m sure of it. He asked the price. No one ever asks the price.
                <br/> It’s over now. I’m thinking about it and I am pretty sure this is the part I actually hate the most.
                <br/> The self-loathing. The moment I start to blame all of this on my mother, the point where I am
                <br/> flooded with memories of listening to my mother cry every night when they left. The different men
                <br/> she brought home,that is. I always wondered what made her so unhappy. She had enough money
                <br/> to look after us on her own and she was a good mother. It’s only now that I am older that I
                <br/> understand.
                <br/> “Pay up,” I shout.
                <br/> I am not smiling any more. When it’s time to get paid it helps not to smile.
                <br/>“But, you’re expensive,”<i>Of course now that it’s over, herealizes.</i>I don’t say anything, arguing never
                <br/> works, I just look at him, stare actually. He pulls out a crumpled fifty thousand shilling note.
                <br/> The old notes, the ones that are larger and much paler. I grab it and stick it in my bra before he changes
                <br/>his mind. He goes to the tiny bathroom to wash off.
                <br/>
                <i>He really is a first timer.</i>I waste no time rummaging through his trousers. Nothing.I check his shirt, there’s a wallet, a few
                <br/> crumpled ten thousands , I grab them and then I’m gone.
                <br> Max’s motel is conveniently or should I say inconveniently situated away from the main road. This
                <br/> means I have to call<i>my boda-boda guy.Great!</i> I’m home now. I throwon pair of leggings before I got home; I wonder what girls did before
                <br/> leggings were in vogue. Mother opens the door.She is smiling at me; she knows I have some
                <br/> money for her. She stopped bringing the men home a long time ago; there isn’t a large market for
                <br/> hookers over fifty.How did I get myself into this? I can’t even explain to myself. Maybe it was
                <br/> because of the several daddies I had or watching my mother apply make-up every day and somehow
                <br/> look after us. Or maybe it’s the fact that I was raised on the words “Look after your body,you
                <br/> never know when you’ll need it to make a living.” Maybe that’s it.
                <br/> It’s the receptionist job I have, that’s where I get the money. This is what
                <br/>I tell her,this is what she pretends to believe.Maybe she does believe it, I don’t really know. Mother sticks out her small
                <br/> hand, waiting. Even at fifty she’s still in great shape even though she isn’t as beautiful as she used to
                <br/> be. The job took its toll on her. There’s a shadow of regret behind every smile she wears,maybe
                <br/> this is the effect of the night job. That’s why I’m going to stop, seriously. Soon, someday. I greet
                <br/> her and hand over the fifty thousand note, she’s still smiling as she goes on about how much I make
                <br/> her proud. Okay, I’m certain now, this really is actually the part I hate the most, my mother’s
                <br/> adoration.
                <br/> I walk to my room, I have a long day tomorrow, my university class has a sociology test to site.</p>
        </section>
    </article>
</body>
<footer><small>&copy; African stories</small></footer>

</html>
