<!DOCTYPE HTML>
<HTML lang=en>
<head>
     <title>That same night</title>
     <style>
       #sameNight
       {
         font-size: 15px;
         margin: auto;
         width: 60%;
         border: 2px solid #73AD21;
         padding: 17px;
         font-style: italic;
       }
       .sameNight p{
         font-style: normal;
       }
       </style>
</head>
     <body>
         <header><h3>African Stories</h3></header>
          <article id="sameNight">
              <header>
                  <h1 align="center">That same night</h1><br/>
                  <h5 align="center">Elone N. Ainebyoona</h5><br/>
              </header>
                 <section>
      <p>That same night,<br/>
He picked me along the way.<br/>
He charmed me with his bundles.<br>
He assured me of pleasure each day.<br/>
He took me around his castles.<br/>
He asked me to stay.</p><br/>

<p>That same night,<br/>
I forgot about mypimples.<br/>
I only felt gay.<br/>
I could only feel my dimples.<br/>
I looked forward to his nightly play.</p><br/>
<p>That same night,<br/>
His body moved like ripples.<br/>
His hands felt softer than clay.<br/>
His smooch gave me tickles.<br/>
His form warmer than an overlay.</p><br/>
<p>That same night,
He began to sway.<br/>
He curved in like a sickle.<br/>
He shoved me away.<br/>
He chased me like trouble.<br/>
He denied me my pay,<br/>
He only gave me prickles.</p><br/>
<p>That same night<br/>
I couldn’t believe the betray,<br/>
I left in hustles.<br/>
I rushed for the subway.<br/>
I was all left a ramshackle,<br/>
I only had to pray.<br/>
I dreaded that one night.</p><br/>

  </section>
          </article>
<fotter>
<small>&copy; African stories</small>
     </fotter>
    </body>
</HTML>